<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('head') %>
	<title>Hy-DataForge</title>
	<meta name="description" content="Efficient Data Management Center">
	<meta name="keywords" content="DataForge, hy gorup, data management, database">
	<meta name="robots" content="index, follow">
</head>

<body class="bg-white">
	<header class="bg-blue-600 text-white flex items-center px-4 justify-between py-3 shadow-lg border-b">
		<a href="/" class="flex gap-2 items-center">
			<img class="h-8 w-8" src="/images/logo.png">
			<h1 class="text-lg font-semibold">Hy-DataForge</h1>
		</a>
		<div class="flex items-center>"
			<a href="https://github.com/fitri-hy" target="_blank">
				<div class="block flex gap-2 items-center px-3 mr-2 py-1 bg-slate-800 rounded-md tex-sm font-semibold hover:bg-slate-700">
					<svg class="h-4 w-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
						<path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3 .3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5 .3-6.2 2.3zm44.2-1.7c-2.9 .7-4.9 2.6-4.6 4.9 .3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3 .7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3 .3 2.9 2.3 3.9 1.6 1 3.6 .7 4.3-.7 .7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3 .7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3 .7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/>
					</svg>
					<span>Github</span>
				</div>
			</a>
			<form action="/logout" method="get">
				<div class="p-2 hover:bg-blue-700 hover:text-red-400 rounded-lg">
				  <button type="submit">
				  <i class="fa fa-sign-out"></i>
				  </button>
				</div>
			</form>
		</div>
	</header>
	
	<div class="mx-auto px-4 py-12">
		<div class="lg:flex grid grid-cols-1 lg:justify-between lg:gap-4">
			<form action="/add-table" method="post" class="w-full mb-2 flex gap-2 items-center lg:max-w-sm">
				<input type="text" name="tableName" id="tableName" placeholder="Enter table name ..." class="px-4 py-2 border bg-gray-100 rounded-md placeholder-gray-600 w-full focus:outline-none">
				<button type="submit" class="flex items-center gap-2 w-[120px] lg:w-auto px-4 py-2 bg-emerald-500 text-sm text-white rounded-md"><i class="fa fa-plus"></i> Add</button>
			</form>
			<form action="/delete-table" method="post" class="w-full mb-2 flex items-center gap-2 lg:w-[250px] lg:max-w-sm">
				<select name="tableName" id="deleteTable" class="px-4 py-2 border bg-gray-100 rounded-md w-full">
					<% tables.forEach(table => { %>
					<option value="<%= table %>"><%= table %></option>
					<% }) %>
				</select>
				<button type="submit" class="flex items-center gap-2 w-[120px] lg:w-auto px-4 py-2 bg-red-500 text-white rounded-md text-sm"><i class="fa fa-trash"></i> Delete</button>
			</form>
		</div>
		<div class="overflow-x-auto mt-4 lg:mt-0">
		  <table class="table-auto min-w-full divide-y divide-gray-300">
			<thead class="bg-blue-600 text-white font-bold">
			  <tr>
				<th scope="col" class="px-6 py-3 text-left text-xs uppercase tracking-wider">Nama Tabel</th>
				<th scope="col" class="px-6 py-3 text-left text-xs uppercase tracking-wider">Action</th>
			  </tr>
			</thead>
			<tbody class="bg-slate-100 divide-y divide-gray-200">
			  <% tables.forEach(table => { %>
			  <tr>
				<td class="px-6 py-4 w-full whitespace-nowrap">
				  <span class="text-lg text-gray-800 line-clamp-1"><%= table %></span>
				</td>
				<td class="px-6 py-4 whitespace-nowrap">
				  <a href="/table/<%= table %>" class="flex items-center text-sm gap-2 mt-2 px-4 py-2 bg-blue-500 text-white rounded-md"><i class="fa fa-eye"></i>Views</a>
				</td>
			  </tr>
			  <% }) %>
			</tbody>
		  </table>
		</div>
		<h2 class="text-xl font-bold mb-4 mt-9 text-gray-700">LOG</h2>
		<div class="logs bg-black py-2 px-4 mt-2 h-[200px] overflow-y-auto">
			<ul class="font-mono">
				<% logs.forEach(log => { %>
					<% let logClass = 'text-green-400'; %>
					<% if (log.toLowerCase().includes('error') || log.toLowerCase().includes('fail')) { %>
						<% logClass = 'text-red-400'; %>
					<% } %>
					<li class="<%= logClass %> text-sm"><%= log %></li>
				<% }) %>
			</ul>
		</div>
	</div>
</body>

</html>
