<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('head') %>
	<title>Tabel <%= tableName %> | Hy-DataForge</title>
	<meta name="description" content="Efficient Data Management Center">
	<meta name="keywords" content="DataForge, hy gorup, data management, database">
	<meta name="robots" content="index, follow">
</head>

<body class="bg-white">
	<header class="bg-blue-600 text-white flex items-center px-4 justify-between py-2 shadow-lg border-b">
		<div class="flex gap-2 items-center">
			<img class="h-8 w-8" src="/images/logo.png">
			<h1 class="text-lg font-semibold">Hy-DataForge</h1>
		</div>
		<a href="/" class="block px-3 py-1 bg-slate-800 rounded-md tex-sm font-semibold hover:bg-slate-700">Back</a>
	</header>
	
	<main class="px-4 py-9">
		<h2 class="text-xl font-bold mb-4 text-gray-700">Table: <span class="font-bold"><%= tableName %></span></h2>
		<div class="lg:flex grid grid-cols-1 lg:justify-between gap-4">
			<form action="/table/<%= tableName %>/add-column" method="post" class="mb-2 flex flex-wrap gap-2 items-center">
				<div class="flex items-center gap-2">
				  <input type="text" name="columnName" placeholder="Enter column name ..." class="px-4 py-2 bg-gray-100 border placeholder-gray-600 rounded-md">
				  <select name="columnType" class="px-4 py-2 border rounded-md bg-gray-100">
					  <option value="INT">INT</option>
					  <option value="VARCHAR(255)">VARCHAR(255)</option>
					  <option value="TEXT">TEXT</option>
					  <option value="DATE">DATE</option>
					  <option value="DATETIME">DATETIME</option>
					  <option value="BOOLEAN">BOOLEAN</option>
					  <option value="TINYINT">TINYINT</option>
					  <option value="SMALLINT">SMALLINT</option>
					  <option value="MEDIUMINT">MEDIUMINT</option>
					  <option value="MD5">MD5</option>
					  <option value="BIGINT">BIGINT</option>
					  <option value="FLOAT">FLOAT</option>
					  <option value="DOUBLE">DOUBLE</option>
					  <option value="DECIMAL">DECIMAL</option>
					  <option value="BIT">BIT</option>
					  <option value="BINARY">BINARY</option>
					  <option value="CHAR">CHAR</option>
					  <option value="BLOB">BLOB</option>
					  <option value="MEDIUMBLOB">MEDIUMBLOB</option>
					  <option value="LONGBLOB">LONGBLOB</option>
					  <option value="VARBINARY">VARBINARY</option>
					  <option value="ENUM">ENUM</option>
					  <option value="SET">SET</option>
				  </select>
				</div>
				<button type="submit" class="flex gap-2 items-center px-4 py-2 bg-emerald-500 text-white rounded-md text-sm"><i class="fa fa-plus"></i>Add</button>
			</form>
			<form action="/table/<%= tableName %>/delete-column" method="post" class="mb-2 flex gap-2 items-center max-w-sm">
				<div class="flex flex-wrap items-center">
				  <input type="text" name="columnName" placeholder="Enter column name ..." class="px-4 py-2 bg-gray-100 border placeholder-gray-600 rounded-md">
				</div>
				<button type="submit" class="px-4 py-2 bg-rose-500 text-white rounded-md text-sm flex gap-2 items-center"><i class="fa fa-trash"></i> Delete</button>
			</form>
		</div>

		<div class="overflow-x-auto">
			<table class="table-auto min-w-full divide-y divide-gray-300">
				<thead class="bg-blue-400 text-white font-bold">
				  <tr>
					<th class="px-6 py-3 text-left text-xs uppercase tracking-wider">Field</th>
					<th class="px-6 py-3 text-left text-xs uppercase tracking-wider">Type</th>
					<th class="px-6 py-3 text-left text-xs uppercase tracking-wider">Null</th>
					<th class="px-6 py-3 text-left text-xs uppercase tracking-wider">Key</th>
					<th class="px-6 py-3 text-left text-xs uppercase tracking-wider">Default</th>
					<th class="px-6 py-3 text-left text-xs uppercase tracking-wider">Extra</th>
				  </tr>
				</thead>
				<tbody class="bg-slate-100 divide-y divide-gray-200">
				  <% columns.forEach(column => { %>
					<tr>
					  <td class="px-6 py-4 whitespace-nowrap"><%= column.Field %></td>
					  <td class="px-6 py-4 whitespace-nowrap"><%= column.Type %></td>
					  <td class="px-6 py-4 whitespace-nowrap"><%= column.Null %></td>
					  <td class="px-6 py-4 whitespace-nowrap"><%= column.Key %></td>
					  <td class="px-6 py-4 whitespace-nowrap"><%= column.Default %></td>
					  <td class="px-6 py-4 whitespace-nowrap"><%= column.Extra %></td>
					</tr>
				  <% }) %>
				</tbody>
			</table>
		</div>

		<h2 class="text-xl font-bold mb-4 mt-9 text-gray-700">DATA</h2>
		<form action="/table/<%= tableName %>/insert-data" method="post" class="mb-4">
			<div class="flex flex-wrap items-center mb-2 gap-2">
				<% columns.forEach(column => { %>
					<div class="flex items-center">
						<input type="text" name="<%= column.Field %>" placeholder="<%= column.Field %>" class="px-4 py-2 bg-gray-100 border placeholder-gray-600 rounded-md">
					</div>
				<% }) %>
				<button type="submit" class="flex gap-2 items-center px-4 py-2 bg-emerald-500 text-white rounded-md text-sm"><i class="fa fa-plus"></i> Add</button>
			</div>
		</form>

		<form action="/table/<%= tableName %>/delete-data" method="post" class="mt-6 w-full mb-2 flex items-center gap-2">
			<div class="flex flex-wrap items-center gap-2 justify-right">
			  <select name="id" class="px-4 py-2 border rounded-md bg-gray-100">
				<% rows.forEach(row => { %>
				<option value="<%= row.id %>"><%= row.id %></option>
				<% }) %>
			  </select>
			</div>
			<button type="submit" class="flex gap-2 items-center text-sm px-4 py-2 bg-rose-500 text-white rounded-md"><i class="fa fa-trash"></i> Delete</button>
		</form>

		<div class="overflow-x-auto">
			<table class="table-auto min-w-full divide-y divide-gray-300">
				<thead class="bg-blue-400 text-white font-bold">
					<tr>
						<% columns.forEach(column => { %>
							<th class="px-6 py-3 text-left text-xs uppercase tracking-wider"><%= column.Field %></th>
						<% }) %>
					</tr>
				</thead>
				<tbody class="bg-slate-100 divide-y divide-gray-200">
					<% rows.forEach(row => { %>
						<tr>
							<% columns.forEach(column => { %>
								<td class="px-6 py-4 whitespace-nowrap"><%= row[column.Field] %></td>
							<% }) %>
						</tr>
					<% }) %>
				</tbody>
			</table>
		</div>
		<h2 class="text-xl font-bold mb-4 mt-9 text-gray-700">LOG</h2>
		<div class="logs bg-black py-2 px-4 mt-2 h-[200px] overflow-y-auto">
			<ul class="font-mono">
				<% logs.forEach(log => { %>
					<% let logClass = 'text-green-400'; %>
					<% if (log.toLowerCase().includes('error') || log.toLowerCase().includes('fail')) { %>
						<% logClass = 'text-red-400'; %>
					<% } %>
					<li class="<%= logClass %> text-sm"><%= log %></li>
				<% }) %>
			</ul>
		</div>
	</main>
</body>
</html>
